{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Weeks Law</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>

    <body id="bg" style="background-image: url('{% static "assets/8.JPG" %}')";>

        <h1>Weeks Law</h1>
        <h1>Blog</h1>
        
        <div class="sidebar">
            <a class="active" href="{% url 'home' %}">Home</a>
            <a class="active" href="{% url 'about' %}">About</a>
            <a class="active" href="{% url 'contact' %}">Contact</a>
            <a class="active" href="{% url 'blog' %}">Blog</a>
        </div>

        <div class="content">
                <iframe class="pdf" 
                    src={% static "assets/WeeksCollection.pdf" %} width="1000" height="900">
                </iframe>
        </div>

    </body>

</html>